body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f4f4;
}

header{
    background:#333;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
}

main{
    max-width:800px;
    margin:auto;
    padding:20px;
}

section{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
}

input, textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
}

textarea{
    height:120px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;
}

.post{
    border-bottom:1px solid #ddd;
    padding:15px;
}